<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Administrador Batalla  Naval</title>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>

            <p:panel header=" Administrador ">
                <center>
                    <p:panel header="Barcos Posibles en Batalla Naval">



                        <p:panelGrid  columns="1">
                            <f:facet name="header">
                                <img src="../../imagenes/Barco2.jpg"  alt="Barco2.jpg" height="450" width="700" />
                            </f:facet>


                            <h:outputText value="Buque" />

                            <h:outputText value="Poortaviones" />

                            <h:outputText value="Acorazado" />

                            <h:outputText value="Fragata" />
                            <h:outputText value="Navio" />
                        </p:panelGrid>

                    </p:panel>
                </center>


                <p:panel header="Informacion Barcos  Adicionados  en  Batalla ">
                    <center>
                        <p:outputLabel value="La cantidad Total de  Barcos es: #{controladorBarcosBatallaNaval.arbolBB.cantidadElementosBarcos()}"/>
                        <br />
                        <br />

                        <p:outputLabel value="El tamaño del tablero de juego es de 
                                       #{controladorBarcosBatallaNaval.arbolBB.calcularTablero()} filas X 
                                       #{controladorBarcosBatallaNaval.arbolBB.calcularTablero()} columnas"/>
                    </center>




                    <p:dataTable value="#{controladorBarcosBatallaNaval.arbolBB.recorrerInOrden()}" var="barco">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre" />
                            </f:facet>
                            <p:outputLabel value="#{barco.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value=" Numero Casillas" />
                            </f:facet>
                            <p:outputLabel value="#{barco.cantidadJuego}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Cantidad  de  juego" />
                            </f:facet>
                            <p:outputLabel value="#{barco.nroCasillas}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>


            <p:tabView>   
                <p:tab title="Crear Barco">
                    <h:panelGrid columns="2" cellpadding="10">

                        <p:commandButton value="Nuevo" action="#{controladorBarcosBatallaNaval.habilitarRegistrar()}" 
                                         update="@all" ajax="false" disabled="#{controladorBarcosBatallaNaval.deshabilitarTableros}" 
                                         rendered="#{controladorBarcosBatallaNaval.ocultarPanel}"/>   
                    </h:panelGrid>
                </p:tab>

                <p:tab title="Eliminar">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:inputText value="#{controladorBarcosBatallaNaval.encontrarBarco}"/> 

                        <p:commandButton value="Eliminar" action="#{controladorBarcosBatallaNaval.borrarBarco()}" ajax="false"  update="@all" />

                    </h:panelGrid>
                </p:tab>

                <p:tab title="Listar  Tableros ">
                    <h:panelGrid columns="2" cellpadding="10">

                        <p:commandButton value="Listar" action="#{controladorBatallaNavalJuego.generarBarcosJuego()}" 
                                         disabled="#{controladorBarcosBatallaNaval.deshabilitarTableros}"  update="@all" ajax="false"/>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Reiniciar Tableros">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:commandButton value="Reiniciar" action="#{controladorBatallaNavalJuego.reiniciarJuego()}"  
                                         disabled="#{controladorBarcosBatallaNaval.deshabilitarTableros}"
                                         update="@all" ajax="false" rendered="#{controladorBarcosBatallaNaval.ocultarPanel}"/>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Ir Jugadores ">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:commandButton value="Jugadores" action="IrJugadores"/>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Ir Principal">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:commandButton value="Principal" action="IrPrincipal"/>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>
        </h:form>
        <h:form>
            
            <p:panel  header="Registrar Tipo de barco"  class="pnlRegistrarBarcos" rendered="#{controladorBarcosBatallaNaval.verRegistrar}" >
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel  value="Nombre"/>
                        <p:inputText  required="true" value="#{controladorBarcosBatallaNaval.barco.nombre}"/>
                        <p:outputLabel for="nrocasillas" value="Cantidad De Barcos"/>
                        <p:spinner id="nrocasillas" value="#{controladorBarcosBatallaNaval.barco.nroCasillas}" min="1" max="15" />
                        <p:outputLabel for="cantidadJuego" value="Número de casillas" />
                        <p:spinner id="cantidadJuego" value="#{controladorBarcosBatallaNaval.barco.cantidadJuego}" min="1" max="20" />
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorBarcosBatallaNaval.guardarTipoBarco()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                         action="#{controladorBarcosBatallaNaval.cancelarGuardado()}" />
                    </p:panelGrid>
                </center>
            </p:panel>    
        </h:form>
    </h:body>
</html>

