<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Principal </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <h:form>
            <p:panel header="Principal Login ">

                <center>
                    <p:panel >   
                        <table border="1">
                            <tr>
                                <td>
                                    <p:outputLabel value="Administrador" />
                                    <br />
                                    <br />

                                    <img src="../../imagenes/administrator.png" alt="administrator.png" height="300" width="500" />
                                    <br />
                                    <br />
                                    <p:commandButton value="Ingresar" action="IrLoginAdmin"/>
                                </td>


                                <td>
                                    <br />
                                    <p:outputLabel value="Jugadores" />
                                    <br />
                                    <br />
                                    <img src="../../imagenes/jugador.png" alt="jugador.png" height="300" width="500" />
                                    <br />
                                    <br />

                                    <p:commandButton value="Ingresar" action="IrLoginJuga"  />   
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </p:panel>
                </center>
                <p:commandButton value="Atras" action="IrPrincipal"/>
            </p:panel>
            <h:form>
                <p:growl id="growl" life="2000" />



            </h:form>
        </h:form>
    </h:body>
</html>
