<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">




    <h:head>

        <title> Posicionar Barcos  Jugador  2</title>
        <style type="text/css">

            .ui-button.regCommandButton { 
                color: #ffffff;
                background: #02EDF7;
                border-color: #000000;

                width: 30%; 
                height: 30; 

                font-family: 'pluto_sansthin';
                font-size:1.4em;    

            }


            .ui-button.tableroCommandButton { 
                color: #ffffff;
                background: #049A2C;
                border-color: #23a38f;

                width: 10%; 
                height: 10; 

                font-family: 'pluto_sansthin';
                font-size:1.4em;    

            }

        </style>


    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form id="fmrSeleccionBarco">
            <br/>


            <center>
                <p:panel header="Selecionar barcos Jugador # 2" id="panelSeleccion" class="pnlSeleccionBarcos" >

                    <p:dataTable value="#{controladorBatallaNavalJuego.arbolNBatallaJugador2.listarBarcos()}" var="barco">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Identificador" />
                            </f:facet>
                            <p:outputLabel value="#{barco.identificador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre" />
                            </f:facet>
                            <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Casillas" />
                            </f:facet>
                            <p:outputLabel value="#{barco.tipobarco.nroCasillas}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Asignar Coordenadas" />
                            </f:facet>

                            <p:commandButton value="Listo"  styleClass="regCommandButton" action="#{controladorBatallaNavalJuego.asignarCoordenadasjugador2MenuContext(barco)}"  

                                             update="@all" ajax="false" />
                        </p:column>
                    </p:dataTable>

                    <p:panel>
                        <center>
                            <p:panelGrid columns="2">

                                <p:outputLabel value="Seleccione la Fila:    "/>
                                <p:spinner value="#{controladorBatallaNavalJuego.fila}" min="1" max="#{controladorBatallaNavalJuego.tablero2}"  />

                                <p:outputLabel value="Selleccione Columna:   "/>
                                <p:spinner value="#{controladorBatallaNavalJuego.columna}" min="1" max="#{controladorBatallaNavalJuego.tablero2}"  />


                                <p:outputLabel value="Selecione la  direccion"/>

                                <p:selectOneMenu id="direccion" value="#{controladorBatallaNavalJuego.direccion}" style="width:125px">
                                    <f:selectItem itemLabel="seleccione" itemValue="" />
                                    <f:selectItem itemLabel="Horizontal" itemValue="Horizontal" />
                                    <f:selectItem itemLabel="Vertical" itemValue="Vertical" />
                                </p:selectOneMenu>
                            </p:panelGrid>

                        </center>

                    </p:panel>
                </p:panel>
            </center>




            <center>
                <p:panel header="Distribuir Barcos" 
                         id="panelIncio" class="pnlDistribuir" >
                    <center>
                        <c:forEach var="fila"  begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador2()}"  >

                            <c:forEach var="columna" begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador2()}">

                                <p:commandButton value="[#{fila},#{columna}]" 
                                                 style="#{controladorBatallaNavalJuego.pintarBarcosJugador2(fila, columna)}"
                                                 styleClass="tableroCommandButton" />
                            </c:forEach>
                            <br/>
                        </c:forEach>
                    </center>

                    <center>
                        <p:commandButton value="verificar" action="#{controladorBatallaNavalJuego.validarTableroLLenoJugador2()}" update="@all" ajax="false"/>
                        <p:commandButton value="Listo"  action="#{controladorBatallaNavalJuego.habilitarJuego2()}" update="@all" ajax="false"
                                         disabled="#{controladorBatallaNavalJuego.deshabilitarAsignarJugador2}"/>



                        <p:commandButton value="Jugar" action="IrBatalla2" 
                                         disabled="#{controladorBatallaNavalJuego.verificarListo()}"  update="@all" ajax="false"/>


                    </center>
                </p:panel>
            </center>

        </h:form>
    </h:body>
</html>

