<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

        <title>Celular--- Arbol ABB</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:5em; 
                height:5em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 15px;
                border: 1px solid #668452;
                background-color: #668452;
                color: #000000;
            }

            .ui-diagram-element:hover {
                background-color: #2866B3;
            }
        </style>




    </h:head>
    <h:body>

        <p:growl id="grwErrores"/>
        <h:form>

            <p:panel header="Arbol Binario de Búsqueda" rendered="#{!controladorABB.verRegistrar}">
                <p:diagram value="#{controladorABB.model}" 
                           style="height:600px" styleClass="ui-widget-content" />

                <p:commandButton value="Nuevo" action="#{controladorABB.habilitarRegistrar()}"
                                 update="@all"   />


                <h:form>
                    <p:growl id="growl" life="2000" />

                    <p:commandButton value="Atras" id="withIcon" action="IrPrincipal" update="growl"
                                     icon="ui-icon-check" />

                </h:form>

            </p:panel>

        </h:form>


        <!--        //  Tabla  registrar  celular -->

        <h:form>

            <p:panel  header="Registrar Celular" rendered="#{controladorABB.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorABB.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorABB.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorABB.celular.marca.codigo}">
                            <f:selectItems value="#{controladorABB.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorABB.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorABB.celular.operador.nombre}">                            
                            <f:selectItems value="#{controladorABB.operadores}"
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>

                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorABB.celular.precio}" />

                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorABB.guardarCelular()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{controladorABB.deshabilitarRegistrar()}"/>
                    </p:panelGrid>
                </center>

            </p:panel>


            <p:panel  id="panel" header="Imformacion De Celulares" rendered="#{!controladorABB.arbol.esVacio()}">
                <h:form id="form"> 

                    <h:form id="form">

                        <p:growl id="msgs" showDetail="true" />


                        <p:tabView>

                            <p:tab title="Hojas del Arbol">


                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.darHojas()}" />

                                </h:panelGrid>
                            </p:tab>

                            <p:tab title="Cantidad De Hojas">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.arbol.cantidadNodosHoja()}" />

                                </h:panelGrid>
                            </p:tab>

                            <p:tab title="Valor Mayor">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.arbol.valorMayor()}" />
                                </h:panelGrid>
                            </p:tab>


                            <p:tab title="Valor Menor">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.arbol.valorMenor()}" />
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="Ramas Mayores">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.ramaMayor()}"/>
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="Cantidad de celulares">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:outputLabel value="Cantidad  #{controladorABB.arbol.cantidadNodos}" />
                                    <br/>
                                    <p:outputLabel value="Suma precios  #{controladorABB.arbol.sumarPrecios()}" />
                                    <br/>
                                    <p:outputLabel value="Los Precios promedian: #{controladorABB.arbol.calcularPromedioPrecios()}"/>
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="Operador Repetido">

                                <p:outputLabel value="Operador: "/>



                            </p:tab>

                            <p:tab title="Elminar">


                                <p:inputText value="#{controladorABB.borrarImei}"/> 

                                <p:commandButton value="Eliminar" action="#{controladorABB.borrarCelular()}" ajax="false"  update="@all" />

                                <p:commandButton value="Eliminar Mayor " action="#{controladorABB.borrarMayor()}"
                                                 ajax="false" />
                                <p:commandButton value="Elminar Menor" action="#{controladorABB.borrarMenor()}"
                                                 ajax="false"  />

                            </p:tab>

                            <p:tab title="Buscar">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:inputText value="#{controladorABB.encontrarImei}"/> 
                                    <p:commandButton value="Buscar"   update="@all"    />
                                    <p:outputLabel value="Cantidad  #{controladorABB.esta(bucar)}"/>
                                </h:panelGrid>
                            </p:tab>

                            <p:tab title="Buscar Padre">
                                <h:panelGrid columns="2" cellpadding="10">

                                    <p:commandButton value="Buscar Padre" action="#{controladorABB.darPadre()}"
                                                     update="@all" rendered="#{!controladorABB.arbol.esVacio()}" ajax="false" /> 
                                    <p:inputText required="false" value="#{controladorABB.padreImei}"/>

                                </h:panelGrid>
                            </p:tab>

                            <p:tab title="Podar Arbol">
                                <h:panelGrid columns="2" cellpadding="10">

                                    <p:commandButton value="Podar" action="#{controladorABB.podarArbol()}"  ajax="false" update="@all"    />

                                </h:panelGrid>
                            </p:tab>

                        </p:tabView>
                    </h:form>
                </h:form>
            </p:panel>

            <!--            //  in orden -->
            <p:panel header="Recorrido InOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>


            <!--            //  preorden-->
            <p:panel header="Recorrido PreOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>



            <!--          //  pos orden -->

            <p:panel header="Recorrido PostOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <!--<p:commandButton value="Ir  Inicio" action="Principal.xhtml"/>-->

        </h:form>
    </h:body>
</html>

