<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Login </title>
    </h:head>
    <h:body>
        <br></br>
        <br></br>
        <center>
            <p:panel header="Login" style="width: 425px; background: black; border: 2px solid #585858">
                <p:growl id="pnlErrorLogin"/>
                <h:form>

                    <img src="../../imagenes/logonju.png" alt=""/>
                    <font color="RED">
                        <br></br> 
                        Usuario:
                    </font>
                    <br></br>

                    <br></br>   
                    <p:inputText value="#{controladorLogin.usuarioAdmin}" required="true"/>
                    <br></br>

                    <font color="RED">
                        Password:
                    </font> 
                    <br></br>

                    <br></br> 
                    <p:password value="#{controladorLogin.contrasenaAdmin}" required="true"/>
                    <br></br>
                    <br></br>

                    <p:commandButton value="Ingresar" ajax="false" action="#{controladorLogin.ingresarMenuAdministrador()}"/>



                   
                </h:form>
            </p:panel>
        </center>
    </h:body>
</html>