<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login </title>
    </h:head>

    <style type="text/css">



        .ui-button.regCommandButton { 
            color: #ffffff;
            background: #29b6a0;
            border-color: #23a38f;

            width: 100%; 
            height: 25px; 

            font-family: 'pluto_sansthin';
            font-size:1.4em;    
        }

    </style>




    <h:body>
        <br></br>
        <br></br>
        <center>
            <p:panel header="Login" style="width: 425px; background: black; border: 2px solid #585858">
                <p:growl id="pnlErrorLogin"/>
                <h:form>

                    <img src="../../imagenes/logonju.png" alt=""/>
                    <font color="RED">
                        <br></br> 
                        Usuario:
                    </font>
                    <br></br>

                    <br></br>   
                    <p:inputText value="#{controladorLogin.usuarioJug}" required="true"/>
                    <br></br>

                    <font color="RED">
                        Password:
                    </font> 
                    <br></br>

                    <br></br> 
                    <p:password value="#{controladorLogin.contrasenaJug}" required="true"/>
                    <br></br>
                    <br></br>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">

                        <font color="Red">
                            Rol:
                        </font>

                        <br></br>





                        <p:selectOneListbox id="basic" value="#{controladorLogin.rol}">
                            <f:selectItems value="#{controladorBatallaNavalJuego.roles}" 
                                           var="rol" itemLabel="#{rol.nombre}"
                                           itemValue="#{rol.nombre}"/> 


                        </p:selectOneListbox>
                    </h:panelGrid>
                    <p:commandButton  value="Ingresar" ajax="false" action="#{controladorLogin.ingresarMenuJugador()}"/>

                </h:form>
            </p:panel>
        </center>
    </h:body>
</html>