<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Celular--- Arbol N-ario</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:5em; 
                height:5em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 15px;
                border: 1px solid #668452;
                background-color: #668452;
                color: #000000;
            }

            .ui-diagram-element:hover {
                background-color: #2866B3;
            }
        </style>




    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>

            <p:panel header="Arbol N-ARIO --- numero de celulares #{ControladorNario.arbolN.cantidadNodos}" 
                     id="panelIncio">
                <p:diagram value="#{ControladorNario.model}" 
                           style="height:600px" styleClass="ui-widget-content" />
                <center>

                    <p:commandButton value="Nuevo" action="#{ControladorNario.habilitarRegistrar()}"
                                     update="@all" ajax="false"  />



                    <p:commandButton value="Borrar" action="#{ControladorNario.borrarDato()}" update="@all" ajax="false"/>
                    <p:inputText  value="#{ControladorNario.imeiBorrar}"/>
                    
                     <p:commandButton value="Atras" id="withIcon" action="IrPrincipal"/>

                </center>
            </p:panel>
        </h:form>
        <h:form>


            <p:panel  header="Registrar Celular" rendered="#{ControladorNario.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{ControladorNario.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{ControladorNario.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{ControladorNario.celular.marca.codigo}">
                            <f:selectItems value="#{ControladorNario.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{ControladorNario.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{ControladorNario.celular.operador.nombre}">                            
                            <f:selectItems value="#{ControladorNario.operadores}"
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{ControladorNario.celular.precio}" />

                        <p:outputLabel value="Celular Padre"/>
                        <p:inputText required="true" value="#{ControladorNario.imeipadre}" />

                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{ControladorNario.guardarCelular()}"/>

                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{ControladorNario.cancelarGuardado()}"/>

                    </p:panelGrid>
                </center>

            </p:panel>







            <p:panel>
                <p:dataTable value="#{ControladorNario.arbolN.listarCelularesN()}"   
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Marca"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.marca.descripcion}"/>
                    </p:column>
                </p:dataTable>


            </p:panel>




        </h:form>
    </h:body>
</html>

