<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>

        <title>Tablero Jugador #1 </title>

        <style type="text/css">

            .ui-button.regCommandButton { 
                color: #ffffff;
                background: #40FF33;
                border-color: #000000;

                width: 30%; 
                height: 30; 

                font-family: 'pluto_sansthin';
                font-size:1.4em;    

            }


            .ui-button.tableroCommandButton { 
                color: #ffffff;
                background: #0293A0;
                border-color: #23a38f;

                width: 10%; 
                height: 10; 

                font-family: 'pluto_sansthin';
                font-size:1.4em;    

            }

        </style>


    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>


        <h:form id="fmrjuego1" >
            <p:messages id="messages" showDetail="true" closable="true">
                <p:autoUpdate />
            </p:messages>
            <p:poll  interval="6" listener="#{controladorBatallaNavalJuego.verificarGanador()}" update="fmrjuego1"/>
            <p:panel header="Jugador # 1: #{controladorBatallaNavalJuego.arbolNBatallaJugador1}" style="background: transparent" >
                <p:commandButton value="Salir" action="#{controladorBatallaNavalJuego.salirJuego()}" disabled="#{controladorBatallaNavalJuego.reiniciar}" update="@all" ajax="false"/>
                <center>
                    <p:panelGrid columns="2" style="background: transparent">
                        <p:outputLabel value="Estado: "/>
                        <h:outputText value="#{controladorBatallaNavalJuego.estado}"/>
                    </p:panelGrid>
                </center>
                <center>
                    <p:panelGrid columns="2"  style="margin-top: 8% ; background: transparent" >

                        <p:outputLabel value="Fila:" style="height: 4px ; width: 4px" />
                        <p:spinner value="#{controladorBatallaNavalJuego.fila1}" min="1" max="#{controladorBatallaNavalJuego.tablero1}"  size="3"/>

                        <p:outputLabel value=" Columna:" style="height: 4px ; width: 4px"/>
                        <p:spinner value="#{controladorBatallaNavalJuego.columna1}" min="1" max="#{controladorBatallaNavalJuego.tablero1}"  size="3"/>
                    </p:panelGrid>
                    <br/>

                    <p:commandButton value="Disparar"  action="#{controladorBatallaNavalJuego.dispararJug1()}" disabled="#{controladorBatallaNavalJuego.turno1}"
                                     update="fmrjuego1"/>

                </center>
                <center>

                    <br></br>
                    <p:outputLabel value="Tablero Jugador #  2 #{controladorBatallaNavalJuego.arbolNBatallaJugador2}"/>
                    <br></br>
                </center>

                <center>
                    <c:forEach var="fila"  begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador2()}"  >

                        <c:forEach var="columna" begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador2()}">

                            <p:commandButton value="[#{fila},#{columna}]"  
                                             style="#{controladorBatallaNavalJuego.obtenerEsiloDeCoordenada1(fila,columna)}"
                                             styleClass="tableroCommandButton"
                                             disabled="#{controladorBatallaNavalJuego.verififcarDisparoJugador2(fila, columna)}"/>
                        </c:forEach>
                        <br/>
                    </c:forEach>

                </center>
            </p:panel>


            <p:dataTable value="#{controladorBatallaNavalJuego.arbolNBatallaJugador1.listarBarcosPosicionados()}" var="barco">                  
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nombre" />
                    </f:facet>
                    <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Estado" />
                    </f:facet>
                    <p:outputLabel value="#{barco.estado.descripcion}"/>
                </p:column>
            </p:dataTable>

            <center>
                <br></br>
                <br></br>

                <p:outputLabel value="Tablero Jugador #  1 #{controladorBatallaNavalJuego.arbolNBatallaJugador1}"/>
                <br></br>
                <br></br>
            </center>

            <center>
                <c:forEach var="fila"  begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador1()}"  >
                    <c:forEach var="columna" begin="1" end="#{controladorBatallaNavalJuego.crearTableroJugador1()}">

                        <p:commandButton value="[#{fila},#{columna}]"  
                                         styleClass="tableroCommandButton"
                                         style="#{controladorBatallaNavalJuego.pintarBarcosJugador1(fila, columna)}"/>
                    </c:forEach>
                    <br/>
                </c:forEach>
            </center>
        </h:form>
    </h:body>
</html>

