<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Principal </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <h:form>
            <p:panel header="Programacion 3">

                <center>
                    <p:panel >   
                        <table border="1">
                            <tr>
                                <td>
                                    <p:outputLabel value="Arbol ABB" />
                                    <br />
                                    <br />
                                    <img src="imagenes/Arbol.jpg" alt="Arbol.jpg" height="200" width="300" />
                                    <br />
                                    <br />
                                    <p:commandButton value="Arbol ABB" action="IrAbb"/>
                                </td>
                                <td>
                                    <br />
                                    <p:outputLabel value="Arbol AVL" />
                                    <br />
                                    <br />
                                    <img src="imagenes/ArbolAvl.png" alt="ArbolAvl.png" height="200" width="300" />
                                    <br />
                                    <br />
                                    <p:commandButton value="Arbol Avl" action="IrAvl"  />   
                                    <br />
                                    <br />
                                </td>

                                <td>
                                    <br />
                                    <p:outputLabel value="Arbol N-Ario" />
                                    <br />
                                    <br />
                                    <img src="imagenes/ArbolNario.jpg" alt="ArbolNario.jpg" height="200" width="300" />
                                    <br />
                                    <br />
                                    <p:commandButton value="Arbol N-Ario" action="irNario" />   
                                    <br />
                                    <br />
                                </td>

                                <td>
                                    <br />
                                    <p:outputLabel value="Batalla Naval" />
                                    <br />
                                    <br />

                                    <img src="imagenes/barco .jpg" alt="barco.jpg" height="200" width="300" />
                                    <br />
                                    <br />
                                    <br />
                                    <p:commandButton value="Batalla Naval" action="IrMenuBatalla" />   

                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </p:panel>
                </center>
            </p:panel>
            <h:form>
                <p:growl id="growl" life="2000" />

                

            </h:form>
        </h:form>
    </h:body>
</html>
